<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Required for IE6/IE7 cross-origin support -->
    <meta name="kaazing:postMessageBridgeURL" content="app/PostMessageBridge.html">
    <title>AngularJS module for Kaazing AMQP 0.9.1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/main.css">

    <!--  Kaazing scripts -->
    <script type="text/javascript" language="javascript" src="app/PostMessage.js"></script>
    <script type="text/javascript" language="javascript" src="app/WebSocket.js"></script>
    <script type="text/javascript" language="javascript" src="app/Amqp-0-9-1.js"></script>

    <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/1.4.12/smart-table.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://raw.githubusercontent.com/achmadns/kaazing-amqp-angular/master/app/amqp.js"></script>
</head>
<body ng-controller="home">
<a href="https://github.com/achmadns/kaazing-amqp-angular">
    <img
            style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
            alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>
<h2>Kaazing AMQP 0.9.1 Angular Module Demo</h2>

<form id="person-input" role="form" ng-submit="send()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" ng-model="person.name"/>
    </div>
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" class="form-control" id="age" name="age" ng-model="person.age"/>
    </div>
    <button id="send-person" type="submit" class="btn btn-primary">Send</button>
</form>
<label>Person count: {{displayedCollection.length}}</label>

<div id="table-wrapper">
    <div id="table-scroll">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped" id="person-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td>{{row.name}}</td>
                <td>{{row.age}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="app/main.js"></script>
</body>
</html>